@model Exercises.Models.Data.State
@{
    ViewBag.Title = "AddState";
}

<h2>AddState</h2>


<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>
        @Html.ActionLink("Return to List", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using ( Html.BeginForm() )
        {
            <div class="form-group">
                @Html.LabelFor(m => m.StateAbbreviation)
                @Html.TextBoxFor(m => m.StateAbbreviation, new { @class = "form-control", placeholder = "Abbreviation" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.StateAbbreviation)</span>
                <p />
                @Html.LabelFor(m => m.StateName)
                @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "Name" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.StateName)</span>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>      